Repository cheleb/laminar-form-derivation, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, enhancements, build

.github/labeler.yml:

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/*
      - guides/*
      - README.md
enhancements:
  - changed-files:
    - any-glob-to-any-file:
      - modules/*
build:
  - changed-files:
    - any-glob-to-any-file:
      - build.sbt
      - project/**

chore: update scala3 version to 3.7.4 in build.sbt
  .github/workflows/website.yml
Labels: ci

chore(deps): add patch-package to devDependencies
  examples/client/package.json
Labels: none

chore: update tapirVersion to 1.12.3 and webawesome dependency to 3.0.0
  build.sbt
  examples/client/package.json
Labels: build

chore: update tapirVersion to 1.12.3 and webawesome dependency to 3.0.0 (#380)
  build.sbt
  examples/client/package.json
Labels: build

chore: update sbt version to 1.12.0-M1 in build.properties
  project/build.properties
Labels: build

chore: update scala3 version to 3.8.0-RC1 in build.sbt; remove unused demos variable from sample demos
  build.sbt
  examples/client/src/main/scala/samples/DemoDoreane.scala
  examples/client/src/main/scala/samples/DemoNative.scala
  examples/client/src/main/scala/samples/DemoNguyenyou.scala
  examples/client/src/main/scala/samples/DemoWebAwesome.scala
  examples/client/src/main/scala/samples/Index.scala
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: build

chore: update scala3 version to 3.8.0-RC1 in build.sbt; remove unused demos variable from sample demos
  build.sbt
  examples/client/src/main/scala/samples/DemoDoreane.scala
  examples/client/src/main/scala/samples/DemoNative.scala
  examples/client/src/main/scala/samples/DemoNguyenyou.scala
  examples/client/src/main/scala/samples/DemoWebAwesome.scala
  examples/client/src/main/scala/samples/Index.scala
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: build

chore: update scala3 version to 3.8.0-RC2; change fatal warnings option to -Werror
  build.sbt
Labels: build

chore: update sbt version to 1.12.0-M1 in build.properties
  project/build.properties
Labels: build

chore: update .gitignore and add setup script for node module installation
  .gitignore
  scripts/setup.sc
Labels: none

chore: replace setup.sh with setup.sc for Scala CLI integration
  .vscode/tasks.json
  scripts/setup.sc
  scripts/setup.sh
Labels: none

chore: enhance project settings import with environment variables and output logging
  build.sbt
  scripts/setup.sc
Labels: build

chore: refactor build environment setup and remove deprecated env.sh script
  build.sbt
  scripts/env.sh
  scripts/fastLink.sh
  scripts/npmDev.sh
Labels: build

chore: add npm dev server marker file handling in build scripts
  build.sbt
  scripts/fastLink.sh
  scripts/npmDev.sh
  scripts/setup.sc
Labels: build

chore: add setup documentation for VSCode development environment
  docs/_docs/setup.md
  docs/_docs/setup.puml
Labels: none

chore: add documentation project and update setup diagrams
  build.sbt
  docs/_docs/setup.md
  docs/_docs/setup.puml
  project/plugins.sbt
  website.sbt
Labels: build

chore: add contributing documentation and VSCode setup instructions
  build.sbt
  docs/_docs/contributing/index.md
  docs/_docs/contributing/setup.puml
  docs/_docs/contributing/vscode-setup.md
  docs/sidebar.yaml
  docs/sidebar.yml
Labels: documentation, build

chore: replace setup.sh with setup.sc for Scala CLI integration (#388)
  .vscode/tasks.json
  build.sbt
  docs/_docs/contributing/index.md
  docs/_docs/contributing/setup.puml
  docs/_docs/contributing/vscode-setup.md
  docs/sidebar.yaml
  docs/sidebar.yml
  project/plugins.sbt
  scripts/env.sh
  scripts/fastLink.sh
  scripts/npmDev.sh
  scripts/setup.sc
  scripts/setup.sh
  website.sbt
Labels: documentation, build

chore: update sbt command to build website instead of site
  .github/workflows/website.yml
Labels: ci

chore: simplify GitHub Actions workflow for deploying to GitHub Pages
  .github/workflows/website.yml
Labels: ci

chore: add gh-pages deployment script and inherit secrets in workflow
  .github/workflows/website.yml
  scripts/gh-pages.sh
Labels: ci

chore: update contributing guide
  docs/_docs/contributing/index.md
Labels: none

chore: simplify GitHub Actions workflow for deploying to GitHub Pages
  .github/workflows/website.yml
  scripts/gh-pages.sh
Labels: ci

Update GitHub Pages workflow to use master branch
  .github/workflows/website.yml
Labels: ci

Update GitHub Pages workflow to use master branch (#390)
  .github/workflows/website.yml
Labels: ci

chore: update README.md for improved formatting and add badges
  README.md
Labels: documentation

chore: update README.md for improved formatting and add badges (#391)
  README.md
Labels: documentation

Update tapir version to 1.13.1
  build.sbt
Labels: build

Update README formatting and structure
  README.md
Labels: documentation

Update README formatting and structure (#394)
  README.md
Labels: documentation

Automerge
  build.sbt
  renovate.json
Labels: build

Automerge (#405)
  build.sbt
  renovate.json
Labels: build

chore: update scala3 version to 3.8.0-RC5; bump tapir version to 1.13.4
  build.sbt
Labels: build

chore: update scala3 version to 3.8.0-RC2; change fatal warnings option to -Werror
  build.sbt
Labels: build

chore: update scala3 version to 3.8.0-RC1 in build.sbt; remove unused demos variable from sample demos
  build.sbt
  examples/client/src/main/scala/samples/DemoDoreane.scala
  examples/client/src/main/scala/samples/DemoNative.scala
  examples/client/src/main/scala/samples/DemoNguyenyou.scala
  examples/client/src/main/scala/samples/DemoWebAwesome.scala
  examples/client/src/main/scala/samples/Index.scala
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: build

chore: update sbt version to 1.12.0-M1 in build.properties
  project/build.properties
Labels: build

chore: update scala-cli shebang to use scala version 3.8.0-RC5
  scripts/setup.sc
Labels: none

feat: add fullstack-js support and improve build scripts
  build.sbt
  init.sh
  project/plugins.sbt
  scripts/fastLink.sh
  scripts/npmDev.sh
  scripts/setup.sc
Labels: build

:arrow_up: Sbt-fullstack-js 0.1.0
  project/plugins.sbt
Labels: build

Change scalacOptions to treat warnings as errors
  build.sbt
Labels: build
