Repository cheleb/laminar-form-derivation, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, enhancements, build

Update plugins.sbt
  project/plugins.sbt
Labels: build

Update plugins.sbt (#271)
  project/plugins.sbt
Labels: build

chore(ci): add caching for SBT and Node.js dependencies
  .github/workflows/ci.yml
Labels: ci

chore(ci): add caching for SBT and Node.js dependencies (#272)
  .github/workflows/ci.yml
Labels: ci

chore(build): use scala 3 lts version
  .gitignore
  build.sbt
Labels: build

chore(build): fix fatal build error caused by https://github.com/scala/scala3/issues/20741
  .scalafmt.conf
  build.sbt
  examples/client/src/main/scala/WebSocketDemo.scala
  examples/client/src/main/scala/samples/AdHoc.scala
  examples/client/src/main/scala/samples/Conditional.scala
  examples/client/src/main/scala/samples/EitherSample.scala
  examples/client/src/main/scala/samples/EnumSample.scala
  examples/client/src/main/scala/samples/ListElement.scala
  examples/client/src/main/scala/samples/OpaqueType.scala
  examples/client/src/main/scala/samples/Persons.scala
  examples/client/src/main/scala/samples/Sealed.scala
  examples/client/src/main/scala/samples/SimpleSample.scala
  examples/client/src/main/scala/samples/Tree.scala
  examples/client/src/main/scala/samples/Validation.scala
  examples/client/src/main/scala/samples/package.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/ConditionalFor.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
Labels: build

chore(ci): change pull request event to pull_request_target for labeler workflow
  .github/workflows/labeler.yml
Labels: ci

chore(ci): change pull request event to pull_request_target for labeler workflow (#274)
  .github/workflows/labeler.yml
Labels: ci

chore(build): use scala 3 lts version (#273)
  .gitignore
  .scalafmt.conf
  build.sbt
  examples/client/src/main/scala/WebSocketDemo.scala
  examples/client/src/main/scala/samples/AdHoc.scala
  examples/client/src/main/scala/samples/Conditional.scala
  examples/client/src/main/scala/samples/EitherSample.scala
  examples/client/src/main/scala/samples/EnumSample.scala
  examples/client/src/main/scala/samples/ListElement.scala
  examples/client/src/main/scala/samples/OpaqueType.scala
  examples/client/src/main/scala/samples/Persons.scala
  examples/client/src/main/scala/samples/Sealed.scala
  examples/client/src/main/scala/samples/SimpleSample.scala
  examples/client/src/main/scala/samples/Tree.scala
  examples/client/src/main/scala/samples/Validation.scala
  examples/client/src/main/scala/samples/package.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/ConditionalFor.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
Labels: build

chore: remove obsolete build environment script
  scripts/build-env.sh
Labels: none

sbt 1.10.11
  project/build.properties
Labels: build

chore(deps): update vite to version 6.2.2
  examples/client/package-lock.json
  examples/client/package.json
Labels: none

Bump Iron and Scala, RIP LTS
  build.sbt
  examples/client/src/main/scala/samples/AdHoc.scala
Labels: build

chore(deps): update vite to version 6.2.3
  examples/client/package.json
Labels: none

chore(deps): update laminar to version 17.2.1 and vite to version 6.2.3
  build.sbt
  examples/client/package-lock.json
  examples/client/package.json
Labels: build

chore(deps): update vite to version 6.2.5 in package.json and package-lock.json
  README.md
  examples/client/package-lock.json
  examples/client/package.json
Labels: documentation

fix: correct syntax in signal mapping for error bus updates
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
Labels: none

fix: add shebang to setup script for proper execution
  scripts/setup.sh
Labels: none

fix: refactor get_mtime function for cross-platform compatibility in setup script
  scripts/setup.sh
Labels: none

fix: update vite version to ^6.3.3 and add new dependencies in package-lock.json
  examples/client/package-lock.json
  examples/client/package.json
Labels: none

fix: refactor get_mtime function for cross-platform compatibility in … (#297)
  examples/client/package-lock.json
  examples/client/package.json
  scripts/setup.sh
Labels: none

fix: update Scala version to 3.7.0 and add @nowarn annotations in Form implementations
  build.sbt
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
Labels: build

fix: update Scala version to 3.7.0 and add @nowarn annotations in Form implementations (#302)
  build.sbt
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
Labels: build

Add UI5 altenative bindings
  build.sbt
  modules/ui5_2/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: build

nguyenyou
  build.sbt
  examples/client/src/main/scala/Nguyenyou.scala
  examples/client/src/main/scala/samples/Sealed.scala
  examples/client/src/main/scala/samples/Tree.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/ui5_2/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: build

feat: add DemoNguyenyou example with UI5 components and syntax highlighting
  examples/client/src/main/scala/samples/DemoNguyenyou.scala
Labels: none

feat: refactor samples to use WidgetFactory and update UI5 integration
  build.sbt
  examples/client/src/main/scala/samples/AdHoc.scala
  examples/client/src/main/scala/samples/Conditional.scala
  examples/client/src/main/scala/samples/DemoDoreane.scala
  examples/client/src/main/scala/samples/DemoNative.scala
  examples/client/src/main/scala/samples/DemoNguyenyou.scala
  examples/client/src/main/scala/samples/EitherSample.scala
  examples/client/src/main/scala/samples/EnumSample.scala
  examples/client/src/main/scala/samples/Index.scala
  examples/client/src/main/scala/samples/ListElement.scala
  examples/client/src/main/scala/samples/OpaqueType.scala
  examples/client/src/main/scala/samples/Persons.scala
  examples/client/src/main/scala/samples/Sealed.scala
  examples/client/src/main/scala/samples/SimpleSample.scala
  examples/client/src/main/scala/samples/Tree.scala
  examples/client/src/main/scala/samples/Validation.scala
  examples/client/src/main/scala/samples/package.scala
  modules/ui5_2/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: build

docs: update getting started and usage documentation for UI5 Web Components integration
  docs/_docs/getting-started.md
  docs/_docs/index.md
  docs/_docs/usage.md
Labels: none

Ui5 2 (#303)
  build.sbt
  docs/_docs/getting-started.md
  docs/_docs/index.md
  docs/_docs/usage.md
  examples/client/src/main/scala/samples/AdHoc.scala
  examples/client/src/main/scala/samples/Conditional.scala
  examples/client/src/main/scala/samples/DemoDoreane.scala
  examples/client/src/main/scala/samples/DemoNative.scala
  examples/client/src/main/scala/samples/DemoNguyenyou.scala
  examples/client/src/main/scala/samples/EitherSample.scala
  examples/client/src/main/scala/samples/EnumSample.scala
  examples/client/src/main/scala/samples/Index.scala
  examples/client/src/main/scala/samples/ListElement.scala
  examples/client/src/main/scala/samples/OpaqueType.scala
  examples/client/src/main/scala/samples/Persons.scala
  examples/client/src/main/scala/samples/Sealed.scala
  examples/client/src/main/scala/samples/SimpleSample.scala
  examples/client/src/main/scala/samples/Tree.scala
  examples/client/src/main/scala/samples/Validation.scala
  examples/client/src/main/scala/samples/package.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/ui5_2/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: build

feat: rename ui5_nguyenyou project and update UI5WidgetFactory implementation
  build.sbt
  examples/client/package-lock.json
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: build

chore(publish): update publish settings for snapshot and staging repositories
  build.sbt
Labels: build

chore(deps): update Scala version to 3.7.1 and tapir version to 1.11.33; bump sbt version to 1.11.1
  build.sbt
Labels: build

Back to LTS
  build.sbt
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
  project/build.properties
Labels: build

Back to LTS (#316)
  build.sbt
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
Labels: build

Build / fmt
  .vscode/tasks.json
  project/plugins.sbt
Labels: build

fix: change runOn option to 'folderOpen' for demo task
  .vscode/tasks.json
Labels: none

fix: replace zoom with zoomLazy in Form trait and object for improved performance
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
Labels: none

refactor: remove syncParent parameter from Form render methods for cleaner API
  examples/client/src/main/scala/samples/Tree.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
Labels: none

fix: replace variable zoom with zoomLazy for improved state handling in Form rendering
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
Labels: none

WIP
  examples/client/src/main/scala/samples/EitherSample.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/LaminarWidgetFactory.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/WidgetFactory.scala
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
  modules/ui5/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: none

.github/labeler.yml:

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/*
      - guides/*
      - README.md
enhancements:
  - changed-files:
    - any-glob-to-any-file:
      - modules/*
build:
  - changed-files:
    - any-glob-to-any-file:
      - build.sbt
      - project/**
