Repository cheleb/laminar-form-derivation, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, enhancements, build

.github/labeler.yml:

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/*
      - guides/*
      - README.md
enhancements:
  - changed-files:
    - any-glob-to-any-file:
      - modules/*
build:
  - changed-files:
    - any-glob-to-any-file:
      - build.sbt
      - project/**

fix: enhance form rendering by refining variable zoom handling for left and right dialogs
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
Labels: none

fix: replace zoom with zoomLazy in Form trait and object for improved performance
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
Labels: none

fix: update dependencies and improve form variable handling with zoomLazy
  examples/client/package-lock.json
  examples/client/package.json
  examples/client/src/main/scala/samples/Index.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
Labels: none

fix: replace variable zoom with zoomLazy for improved state handling in Form rendering
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
Labels: none

fix: enhance form rendering by refining variable zoom handling for left and right dialogs
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
Labels: none

WIP
  examples/client/src/main/scala/samples/EitherSample.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/LaminarWidgetFactory.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/WidgetFactory.scala
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
  modules/ui5/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: none

refactor: remove syncParent parameter from Form render methods for cleaner API
  examples/client/src/main/scala/samples/Tree.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
Labels: none

Zoom lazy (#329)
  examples/client/package-lock.json
  examples/client/package.json
  examples/client/src/main/scala/samples/EitherSample.scala
  examples/client/src/main/scala/samples/Index.scala
  examples/client/src/main/scala/samples/Tree.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/LaminarWidgetFactory.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/WidgetFactory.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
  modules/ui5/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: none

chore: update PGP settings and add GnuPG credentials
  build.sbt
Labels: build

chore: add decodekey script and update release workflow to use it
  .github/decodekey.sh
  .github/workflows/release.yml
Labels: ci

chore: remove decodekey script and simplify release workflow
  .github/decodekey.sh
  .github/workflows/release.yml
  build.sbt
Labels: ci, build

fix: update page title to match project name
  docs/_layouts/main.html
Labels: none

feat: update Scala version to 3.7.2 and add WebAwesome demo component
  build.sbt
  examples/client/index.html
  examples/client/main.js
  examples/client/package-lock.json
  examples/client/package.json
  examples/client/src/main/scala/samples/DemoWebAwesome.scala
  examples/client/src/main/scala/samples/Index.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/webawesome/src/main/scala/dev/cheleb/scalamigen/webawesome/WebAwesomeWidgetFactory.scala
Labels: build

chore: remove unused idOf parameter from listOfA given instance
  examples/client/src/main/scala/samples/ListElement.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
Labels: none

Wip
  examples/client/main.js
  examples/client/package-lock.json
  modules/core/src/main/scala/dev/cheleb/scalamigen/LaminarWidgetFactory.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/WidgetFactory.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
  modules/ui5/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
  modules/webawesome/src/main/scala/dev/cheleb/scalamigen/webawesome/WebAwesomeWidgetFactory.scala
Labels: none

feat: enhance WidgetFactory with detailed parameter documentation for renderSelect and renderOption methods
  modules/core/src/main/scala/dev/cheleb/scalamigen/WidgetFactory.scala
Labels: none

docs: enhance documentation for Magnolia and WebAwesome dependencies
  docs/_docs/index.md
Labels: none

chore: remove unused debug print statements from DemoNguyenyou and UI5WidgetFactory
  examples/client/package-lock.json
  examples/client/src/main/scala/samples/DemoNguyenyou.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: none

fix: improve error handling in sealed trait rendering
  modules/core/src/main/scala/dev/cheleb/scalamigen/Form.scala
Labels: none

Wip
  examples/client/main.js
  modules/core/src/main/scala/dev/cheleb/scalamigen/LaminarWidgetFactory.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/WidgetFactory.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
  modules/ui5/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
  modules/webawesome/src/main/scala/dev/cheleb/scalamigen/webawesome/WebAwesomeWidgetFactory.scala
Labels: none

docs: enhance documentation for Magnolia and WebAwesome dependencies
  docs/_docs/index.md
Labels: none

feat: update Scala version to 3.7.2 and add WebAwesome demo component
  build.sbt
  examples/client/index.html
  examples/client/main.js
  examples/client/package-lock.json
  examples/client/package.json
  examples/client/src/main/scala/samples/DemoWebAwesome.scala
  examples/client/src/main/scala/samples/Index.scala
  modules/webawesome/src/main/scala/dev/cheleb/scalamigen/webawesome/WebAwesomeWidgetFactory.scala
Labels: build

feat: enhance WidgetFactory with detailed parameter documentation for renderSelect and renderOption methods
  modules/core/src/main/scala/dev/cheleb/scalamigen/WidgetFactory.scala
Labels: none

Implement code changes to enhance functionality and improve performance
  .gitignore
  examples/client/package-lock.json
Labels: none

feat: update webawesome and dependencies to latest versions
  build.sbt
  examples/client/package.json
Labels: build

Awesome custom page
  examples/client/awesome.html
  examples/client/awesome.js
  examples/client/main.js
Labels: none

docs: enhance documentation for Magnolia and WebAwesome dependencies
  docs/_docs/index.md
Labels: none

feat: enhance WidgetFactory with detailed parameter documentation for renderSelect and renderOption methods
  modules/core/src/main/scala/dev/cheleb/scalamigen/WidgetFactory.scala
Labels: none

feat: update webawesome and dependencies to latest versions
  build.sbt
  examples/client/package.json
Labels: build

feat: update Scala version to 3.7.2 and add WebAwesome demo component
  build.sbt
  examples/client/index.html
  examples/client/main.js
  examples/client/package-lock.json
  examples/client/package.json
  examples/client/src/main/scala/samples/DemoWebAwesome.scala
  examples/client/src/main/scala/samples/Index.scala
  modules/webawesome/src/main/scala/dev/cheleb/scalamigen/webawesome/WebAwesomeWidgetFactory.scala
Labels: build

Awesome custom page
  examples/client/awesome.html
  examples/client/awesome.js
  examples/client/main.js
Labels: none

Implement code changes to enhance functionality and improve performance
  .gitignore
  examples/client/package-lock.json
Labels: none

Wip
  examples/client/main.js
  modules/core/src/main/scala/dev/cheleb/scalamigen/LaminarWidgetFactory.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/WidgetFactory.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
  modules/ui5/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
  modules/webawesome/src/main/scala/dev/cheleb/scalamigen/webawesome/WebAwesomeWidgetFactory.scala
Labels: none

feat: add demo link for webawesome CSS in documentation
  docs/_docs/index.md
Labels: none

Scala 3.7.3
  build.sbt
Labels: build

feat: update Scala version to 3.7.2 and add WebAwesome demo component (#338)
  .gitignore
  build.sbt
  docs/_docs/index.md
  examples/client/awesome.html
  examples/client/awesome.js
  examples/client/package-lock.json
  examples/client/package.json
  examples/client/src/main/scala/samples/DemoWebAwesome.scala
  examples/client/src/main/scala/samples/Index.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/LaminarWidgetFactory.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/WidgetFactory.scala
  modules/core/src/main/scala/dev/cheleb/scalamigen/package.scala
  modules/ui5/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
  modules/webawesome/src/main/scala/dev/cheleb/scalamigen/webawesome/WebAwesomeWidgetFactory.scala
Labels: build

fix: remove duplicate demo link for WebAwesome CSS in index.md
  docs/_docs/index.md
Labels: none

chore: update tapir and library dependencies in build.sbt; refactor UI5WidgetFactory to use OptionCustom
  build.sbt
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: build

chore: update tapir and library dependencies in build.sbt; refactor UI5WidgetFactory to use OptionCustom (#374)
  build.sbt
  modules/ui5-nguyenyou/src/main/scala/dev/cheleb/scalamigen/ui5/UI5WidgetFactory.scala
Labels: build

chore: update scala3 version to 3.7.4 in build.sbt
  build.sbt
Labels: build
